In [34]:
# Import Pandas Data Frame
import pandas as pd

In [35]:
# Read the data from the CSV file
Budget_csv = "Resources/budget_data.csv"
Budget_data_df = pd.read_csv(Budget_csv)
Budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [63]:
# Used count function and Sum function to find the count and sum
df = Budget_data_df.count()
df1 = df["Date"]
print(f"Total Months : {df1}")
df2 = Budget_data_df["Profit/Losses"].sum()
print(f"Total : {df2}")
#df3 = Budget_data_df["Profit/Losses"].mean()
#print(f"Average change : {df3}")

Total Months : 86
Total : 38382578

In [141]:

df_column = Budget_data_df["Profit/Losses"]
df_column
#Sum_df = df_column > 0
#df_column

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [136]:
# Used diff function to find the difference between elements and used Max function
MaxValue = df_column.diff()
MaxValue["Difference"] = MaxValue
MaxValue.head(5)

0       NaN
1    116771
2   -662642
3   -391430
4    379920
Name: Profit/Losses, dtype: object

In [126]:
Value_Max = MaxValue.max()
print(f"Greatest Increase in Profits :${Value_Max}")

Greatest Increase in Profits :$1926159.0

In [127]:
Value_Min = MaxValue.min()
print(f"Greatest Decrease in Profits :${Value_Min}")

Greatest Decrease in Profits :$-2196167.0