In [1]:
import pandas as pd

In [2]:
file_1 = "Resources/election_data.csv"

In [3]:
df1 = pd.read_csv(file_1)

In [4]:
df1

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [23]:
df2= df1.count()
df2

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [24]:
df3 = df2["Voter ID"]
df3
print(f"Total Votes : {df3}")

Total Votes : 3521001

In [30]:
list(set(df1.Candidate))
#list(df2['Candidate']).unique())

['Khan', 'Li', "O'Tooley", 'Correy']

In [38]:
df4 = df1.groupby(['Candidate'])
print(df4)
df4.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000025299229F88>

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [87]:
df5_Percent = (df4.count()/df2)*100
df5_Percent
df6 = df5_Percent.round(2)
df6
df6["Voter ID"] =df6["Voter ID"].map("{:.2f}%".format)
df6

           Candidate  County Voter ID
Candidate
Correy           NaN    20.0   20.00%
Khan             NaN    63.0   63.00%
Li               NaN    14.0   14.00%
O'Tooley         NaN     3.0    3.00%

In [83]:
Candidate = df6["Voter ID"].idxmax()
Candidate

'Khan'

In [89]:
df7 = df6["Voter ID"].max()
df7
print(f"The winner is {Candidate} with : {df7} votes")

The winner is Khan with : 63.00% votes